
.inventoryNav {
    margin-left: 200px;
    background-color: #fff;
    border-bottom: 2px solid #14b1ab;
  }
  
  .inventoryNavContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .inventoryNavLeftCol {
   flex: 20%;
  }
  
  .inventoryNavRightCol {
    flex: 80%;
    text-align: right;
  }
  
  .inventoryNavBrand {
    color: #14b1ab !important;
    font-weight: bold;
  }
  
  .inventoryNavDropdown {
    background-color: #14b1ab;
    border-radius: .28571429rem;
  }
  
  .inventoryNavSearch > input {
      border:  1px solid #14b1ab !important;
      height: 32px!important;
      position: relative;
      top: 2px;
  }
  
  .inventoryNavSearch > input::placeholder {
      color: #14b1ab !important;
  }
  
  .inventoryNavSearchIcon {
      color: #14b1ab !important;
  }
  
  .inventoryNavButton {
      background-color: #14b1ab !important;
      border:  1px solid #14b1ab !important;
      margin-left: 10px;
      height: 32px!important;
  }
  
  .inventoryNavDropdownTitle > a {
      color: #fff !important;
  }
  
  .addCatBtnContainer {
    position: relative !important;
    left: 71.5% !important;
  }
  
  .addCatBtn {
  
    background-color: #14b1ab !important;
    border: 1px solid #14b1ab;
  }
  
  @media screen and (max-width: 700px) {
    .inventoryNav {
      margin: 55px 0 0 0;
    }
    .inventoryNavLeftCol {
      flex: 20%;
    }
    .inventoryNavRightCol {
      flex: 80%;
     
    }
  }
  
  @media screen and (max-width: 700px) {
    .inventoryNav.responsive {margin-top: 324px;}
  }