
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #14b1ab;
    position: fixed;
    height: 110%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #f4f6ff;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    color: white;
    font-size: large;
  }
  
  .sidebar a:hover:not(.active) {
    color: white;
    font-size: large;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .iconLink {
    display: none !important;
  }
  
   @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    .sidebar .navLink:not(:first-child) {display: none;}
    .iconLink {
      float: right !important;
      display: block !important;
    }
  }
  /*
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } */

  
  @media screen and (max-width: 700px) {
    .sidebar.responsive {position: relative;}
    .sidebar.responsive .iconLink {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

