.container {
    display: flex;
    padding: 10px;
    background-color: #fff;
    justify-content: center;
}

.dayContainer {
    color: #E8E8E8;
}

.day {
    background-color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #46454A;
}

.selectedDay {
    background-color: #385EAF;
    color: #fff;
}