.inventoryTitlesContainer {
    border: none!important;
    font-weight: bold;
    color: #14b1ab;
}


.inventoryListContainer {
    background-color: #eeeeee!important;
}

.edit {
    position: relative;
    color: #14b1ab;
}


.delete {
    position: relative;
    color: #ff414d;
}

.inventoryContainer {
    margin-left: 200px;
    padding-top: 3% !important;
}

.inventoryButton::after {
content: none!important;
}

.inventoryButton {
    background-color: transparent!important;
    border: none!important;
    color:  #14b1ab!important;
    outline: 0 !important;
}

.inventoryButton:focus, .inventoryButton:active {
border: none !important;
outline: none !important;
box-shadow: none !important;
}

.expirationDateRed {
    color: red;
}

.expirationDateBlack {
    color: black;
}

@media screen and (max-width: 700px) {
    .inventoryContainer {
      margin: 45px 0 0 0;
    }
    .inventoryButton {
        position: relative;
        right: 10px;
    }
  }

