.inventoryTitlesContainer {
    border: none!important;
    font-weight: bold;
    color: #14b1ab;
}


.inventoryListContainer {
    background-color: #eeeeee!important;
}

.editIcon {
    position: relative;
    color: #14b1ab;
}


.deleteIcon {
    position: relative;
    color: #14b1ab;
}

.inventoryContainer {
    margin-left: 200px;
    padding-top: 3% !important;
}

@media screen and (max-width: 700px) {
    .inventoryContainer {
      margin: 0;
    }
  }

