/* containers */

.headerDateContainer {
    display: flex;
    width: 25%;
    justify-content: space-around;
    color: #858E9D;
}

.displayDaysIconsContainer {
    display: flex;
    justify-content: center;
    border: 2px solid #14b1ab;
    border-radius: 20% / 50%;
    width: 7%;
    position: relative;
    float: right;
    top: 10px;
    background-color: #fff;
}

.dashboardContainer {
    margin-left: 200px;
    padding: 3% 2% 0 2% !important;
}

.dashboardListContainer {
    border: none !important;
    box-shadow: none !important;
 }

.inventoryTitlesContainer {
    font-weight: bold;
    color: #14b1ab;
}

.dashboardListElement {
    border: none !important;
    box-shadow: none !important;
    color: #697686 !important;
    background-color: #fff !important;
    /* border: 1px solid  #14b1ab !important; */
    /* box-shadow: 5px 5px  20px #14b1ab !important; */
}

.changeDateContainer {
    display: flex;
    justify-content: space-around;
}

.chartContainer {
    position: relative;
    left: 50px;
}

.changeDateBtnContainer {
    text-align: center;
}

/* dashboard dropdown button */

.edit {
    position: relative;
    color: #14b1ab;
}


.delete {
    position: relative;
    color: #ff414d;
}

.DashboardDropdownButton::after {
content: none!important;
}

.DashboardDropdownButton {
    background-color: transparent!important;
    border: none!important;
    color:  #14b1ab!important;
    outline: 0 !important;
}

.DashboardDropdownButton:focus, .DashboardDropdownButton:active {
border: none !important;
outline: none !important;
box-shadow: none !important;
}

/* expired or not */

.expirationDateRed {
    color: red;
}

.expirationDateBlack {
    color: black;
}

/* appointments */

.reasonHeader {
    color: #ACADAd !important; 
}

.itemDropdown {
    text-align: right !important;
}

.hour {
    border-right: 4px solid  #14b1ab;
}

.clockIcon {
    color: #14b1ab !important;
}

.appointmentsName {
    text-align: left !important;
    position: relative;
    top: 10px;
}

.allDaysBtn {
    border-left: 2px solid  #14b1ab;
}

.twoDaysIcon {
    position: relative;
    top: 2px;
}

.allDaysIcon {
    position: relative;
    left: 2px;
}

.twoDaysIcon, .allDaysIcon {
    color: #14b1ab !important;
    font-size: 1.2em !important;
}

/* profit */

.changeDateBtn {
    background-color: #14b1ab !important;
    border:  1px solid #14b1ab !important;
    margin-left: 10px;
    height: 32px!important;
}

.changeDateBtn:focus, .changeDateBtn:active {
    outline: none;
    box-shadow: none;
}

.activeMonth {
    color: #14b1ab;
    font-weight: bold;
    width: 50%;
}

.profitText {
    position: relative;
    top: 100px;
    text-align: center;
}

.profitMonthsList {
    text-align: left !important;
}

/* media queries */

@media screen and (max-width: 700px) {
    .dashboardContainer {
      margin: 45px 0 0 0;
    }
    .DashboardDropdownButton {
        position: relative;
        right: 10px;
    }
  }

