/* containers */

.headerDateContainer {
  display: flex;
  width: 25%;
  justify-content: space-around;
  color: #858e9d;
}

.displayDaysIconsContainer {
  float: right;
  position: relative;
  margin-top: 10px;
  z-index: 1;
}

.dashboardContainer {
  margin-left: 200px;
  padding: 3% 2% 0 2% !important;
}

.dashboardListContainer {
  border: none !important;
  box-shadow: none !important;
}

.inventoryTitlesContainer {
  font-weight: bold;
  color: #14b1ab;
}

.dashboardListElement {
  border: none !important;
  box-shadow: none !important;
  color: #697686 !important;
  background-color: #fff !important;
}

.changeDateContainer {
  display: flex;
  justify-content: space-around;
}

.chartContainer {
  position: relative;
  left: 50px;
}

.changeDateBtnContainer {
  text-align: center;
}

/* dashboard dropdown button */

.edit {
  position: relative;
  color: #14b1ab;
}

.delete {
  position: relative;
  color: #ff414d;
}

.DashboardDropdownButton::after {
  content: none !important;
}

.DashboardDropdownButton {
  background-color: transparent !important;
  border: none !important;
  color: #14b1ab !important;
  outline: 0 !important;
}

.DashboardDropdownButton:focus,
.DashboardDropdownButton:active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* expired or not */

.expirationDateRed {
  color: red;
}

.expirationDateBlack {
  color: black;
}

/* appointments */

.reasonHeader {
  color: #acadad !important;
  text-align: left !important;
}

.reasonHeaderText {
  text-align: left !important;
}

.itemDropdown {
  text-align: right !important;
}

.hour {
  border-right: 4px solid #14b1ab;
}

.clockIcon {
  color: #14b1ab !important;
}

.appointmentsName {
  text-align: left !important;
  position: relative;
  top: 10px;
}

.allDaysBtn,
.twoDaysBtn {
  background-color: #fff !important;
}

.allDaysBtn {
  margin-left: 10px !important;
}

.twoDaysIcon,
.allDaysIcon {
  color: #14b1ab !important;
}

.calendar {
  margin-top: 40px;
}

/* Clients */

.clientsPhoneLink, .clientsEmailLink {
  text-decoration: none;
  color: #697686;
}

.clientsPhoneLink:hover, .clientsEmailLink:hover {
  text-decoration: none;
  color: #697686;
}

/* profit */

.changeProfitDateIcon {
  cursor: pointer;
}

.changeDateBtn {
  background-color: #14b1ab !important;
  border: 1px solid #14b1ab !important;
  margin-left: 10px;
  height: 32px !important;
}

.changeDateBtn:focus,
.changeDateBtn:active {
  outline: none;
  box-shadow: none;
}

.activeMonth {
  color: #14b1ab;
  font-weight: bold;
  width: 50%;
}

.profitText {
  position: relative;
  top: 100px;
  text-align: center;
}

.profitMonthsList {
  text-align: left !important;
}

.chartCalendar {
  text-align: right !important;
}

/* media queries */

@media screen and (max-width: 990px) {
  .appointmentsNameContent {
    text-align: center !important;
  }
}

@media screen and (max-width: 850px) {
  .headerDateContainer {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .calendar {
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .appointmentsName {
    text-align: center !important;
  }

  .appointmentsModalContainer {
    position: relative;
    right: 53%;
    top: 5px;
    margin-top: 5px;
  }

  .headerDateContainer {
    width: 35%;
  }
}

@media screen and (max-width: 700px) {
  .dashboardContainer {
    margin: 45px 0 0 0;
  }
  .DashboardDropdownButton {
    position: relative;
    right: 10px;
  }

  .calendar {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .calendar {
    margin-top: 100px;
  }
  .dashboardListContainer {
    margin-top: 70px !important;
  }
}

@media screen and (max-width: 540px) {
  .appointmentsModalContainer {
    position: relative;
    right: 50%;
    top: 5px;
    margin-top: 5px;
  }

  .appointmentsReasonContainer {
    margin-top: 5px;
  }

  .headerDateContainer {
    width: 40%;
  }
}

@media screen and (max-width: 485px) {
  .dashboardListContainer {
    margin-top: 90px !important;
  }
}

@media screen and (max-width: 414px) {
  .appointmentsModalContainer {
    position: relative;
    right: 45%;
    top: 5px;
    margin-top: 5px;
  }

  .appointmentsReasonContainer {
    margin-top: 5px;
  }

  .headerDateContainer {
    width: 55%;
  }

  .appointmentsNameContent {
    position: relative;
    bottom: 10px;
  }

  .inventoryText {
    font-size: 0.7rem;
  }

  .inventoryLabel {
    font-size: 0.7rem !important;
    position: relative;
    right: 15px;
  }

  .inventoryTitles {
    font-size: 0.7rem;
  }

  .inventoryTitleDate,
  .inventoryTitleAmount {
    position: relative;
    right: 20px;
  }

  .inventoryAmountText {
    position: relative;
    left: 10px;
  }

  .clientsTitles,
  .clientsListItems,
  .expensesTitles,
  .expensesList {
    font-size: 0.5rem;
  }

  .clientsPhone,
  .clientsEmail,
  .expensesAmount,
  .expensesPrice,
  .expensesName {
    position: relative;
    top: 10px;
  }

  .clientsName,
  .expensesDate {
    position: relative;
    top: 5px;
  }
}

@media screen and (max-width: 375px) {
  .appointmentsModalContainer {
    position: relative;
    right: 40%;
    top: 5px;
    margin-top: 5px;
  }

  .appointmentsReasonContainer {
    margin-top: 5px;
  }

  .headerDateContainer {
    width: 55%;
  }

  .appointmentsNameContent {
    position: relative;
    bottom: 10px;
  }

  .inventoryText {
    font-size: 0.5rem;
  }

  .inventoryLabel {
    font-size: 0.5rem !important;
    position: relative;
    right: 15px;
  }

  .inventoryTitles {
    font-size: 0.5rem;
  }

  .inventoryTitleDate,
  .inventoryTitleAmount {
    position: relative;
    right: 20px;
  }

  .inventoryAmountText {
    position: relative;
    left: 10px;
  }

  .clientsTitles,
  .clientsListItems,
  .expensesTitles,
  .expensesList {
    font-size: 0.5rem;
  }

  .clientsPhone,
  .clientsEmail,
  .expensesAmount,
  .expensesPrice,
  .expensesName {
    position: relative;
    top: 10px;
  }

  .clientsName,
  .expensesDate {
    position: relative;
    top: 5px;
  }
}

@media screen and (max-width: 320px) {
  .appointmentsModalContainer {
    position: relative;
    right: 40%;
    top: 5px;
    margin-top: 5px;
  }

  .appointmentsReasonContainer {
    margin-top: 5px;
  }

  .headerDateContainer {
    width: 55%;
  }

  .appointmentsNameContent {
    position: relative;
    bottom: 10px;
  }

  .clientsTitles,
  .clientsListItems,
  .expensesTitles,
  .expensesList {
    font-size: 0.5rem;
  }

  .clientsPhone,
  .clientsEmail,
  .expensesAmount,
  .expensesPrice,
  .expensesName {
    position: relative;
    top: 10px;
  }

  .clientsName,
  .expensesDate {
    position: relative;
    top: 5px;
  }
}

@media screen and (max-width: 280px) {
  .appointmentsModalContainer {
    position: relative;
    right: 40%;
    top: 5px;
    margin-top: 5px;
  }

  .appointmentsReasonContainer {
    margin-top: 5px;
  }

  .headerDateContainer {
    width: 55%;
  }

  .appointmentsReasonColor {
    position: relative;
    top: 25%;
  }

  .reasonsTitles,
  .reasonsContent {
    font-size: 0.7rem !important;
  }

  .appointmentsReasonColorDisplay {
    width: 10px !important;
    height: 10px !important;
  }

  .reasonsContentText {
    position: relative;
    top: 6px;
  }

  .appointmentsNameContent {
    position: relative;
    bottom: 10px;
  }

  .inventoryText {
    font-size: 0.5rem;
  }

  .inventoryLabel {
    font-size: 0.5rem !important;
    position: relative;
    right: 15px;
  }

  .inventoryTitles {
    font-size: 0.5rem;
  }

  .inventoryTitleDate,
  .inventoryTitleAmount {
    position: relative;
    right: 20px;
  }

  .inventoryAmountText {
    position: relative;
    left: 10px;
  }

  .clientsTitles,
  .clientsListItems,
  .expensesTitles,
  .expensesList {
    font-size: 0.5rem;
  }

  .clientsPhone,
  .clientsEmail,
  .expensesAmount,
  .expensesPrice,
  .expensesName {
    position: relative;
    top: 10px;
  }

  .clientsName,
  .expensesDate {
    position: relative;
    top: 5px;
  }
}
