.formContainer {
  margin-left: 200px !important;
  margin-top: 0 !important;
  position: relative;
  top: 50px;
  left: 40px;
  width: 80% !important;
}

.formSubmitBtn {
  background-color: #14b1ab !important;
  border: 2px solid #14b1ab !important;
  color: #fff !important;
}

.formCancelBtn {
  background-color: #fff !important;
  border: 2px solid #14b1ab !important;
  color: #14b1ab !important;
}

@media screen and (max-width: 700px) {
  .formContainer {
    margin: 45px 0 0 0 !important;
    width: 90% !important;
  }
}
