
.topNavbar {
  margin-left: 200px;
  background-color: #fff;
  border-bottom: 2px solid #14b1ab;
}

.topNavbarLeftCol {
 flex: 20%;
}

.topNavbarRightCol {
  flex: 80%;
  text-align: right;
}

.topNavbarBrand {
  color: #14b1ab !important;
  font-weight: bold;
}


.topNavbarSearch > input {
  margin-right: 10px !important;
  border:  1px solid #14b1ab !important;
  height: 33px !important;
    /* border:  1px solid #14b1ab !important;
    height: 32px!important;
    position: relative;
    top: 2px; */
}

.topNavbarSearch > input::placeholder {
    color: #14b1ab !important;
}

.topNavbarSearchIcon {
    color: #14b1ab !important;
}

.topNavbarChangeAppNumberIconsGroup {
  margin-right: 10px !important;
}


.topNavbarReasonsButton {
  margin: 0 !important;
  margin-right: 10px !important;
  background-color:  #14b1ab !important;
}

.topNavbarAddButton {
  background-color:  #14b1ab !important;
}

.topNavbarAddButton:hover, .topNavbarReasonsButton:hover {
  opacity: 0.8 !important;
}

.topNavbarAddButtonIcon {
  color: #fff !important;
}


/* icons  */


.addText {
  display: none;
}

@media screen and (max-width: 700px) {
  .topNavbar {
    margin: 55px 0 0 0;
  }
  .topNavbarLeftCol {
    flex: 20%;
  }
  .topNavbarRightCol {
    flex: 80%;
   
  }
}

@media screen and (max-width: 700px) {
  .topNavbar.responsive {margin-top: 499px;}
}