.topNavbar {
  margin-left: 200px;
  background-color: #fff;
  border-bottom: 2px solid #14b1ab;
}

.topNavbarAppointmentsContainer,
.topNavbarInventoryContainer,
.topNavbarReasonsContainer,
.topNavbarCategoriesContainer,
.topNavbarProfitContainer,
.topNavbarClientsContainer,
.topNavbarExpensesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topNavbarAppointmentsLeftCol,
.topNavbarInventoryLeftCol,
.topNavbarReasonsLeftCol,
.topNavbarCategoriesLeftCol,
.topNavbarProfitLeftCol,
.topNavbarClientsLeftCol,
.topNavbarExpensesLeftCol {
  flex-grow: 2;
}

.topNavbarAppointmentsRightCol,
.topNavbarReasonsRightCol,
.topNavbarCategoriesRightCol .topNavbarProfitRightCol,
.topNavbarClientsRightCol,
.topNavbarExpensesRightCol {
  text-align: right;
}

.topNavbarBrand {
  color: #14b1ab !important;
  font-weight: bold;
}

.topNavbarAppointmentsForm,
.topNavbarInventoryForm {
  float: right !important;
}

.topNavbarSearch > input,
.topNavbarClientsSearch > input,
.topNavbarExpensesSearch > input {
  margin-right: 10px !important;
  border: 1px solid #14b1ab !important;
  height: 33px !important;
}

.topNavbarSearch > input::placeholder,
.topNavbarClientsSearch > input::placeholder,
.topNavbarExpensesSearch > input::placeholder {
  color: #14b1ab !important;
}

.topNavbarSearchIcon,
.topNavbarClientsSearch,
.topNavbarExpensesSearch {
  color: #14b1ab !important;
}

.topNavbarChangeAppNumberIconsGroup {
  margin-right: 10px !important;
}

.topNavbarReasonsButton {
  margin: 0 !important;
  margin-right: 10px !important;
  background-color: #14b1ab !important;
}

.topNavbarAddButton {
  background-color: #14b1ab !important;
}

.topNavbarAddButton:hover,
.topNavbarReasonsButton:hover {
  opacity: 0.8 !important;
}

.topNavbarAddButtonIcon {
  color: #fff !important;
}

/* icons  */

.addText {
  display: none;
}

@media screen and (max-width: 700px) {
  .topNavbar {
    margin: 55px 0 0 0;
  }
}

@media screen and (max-width: 620px) {
  .topNavbar {
    margin: 55px 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  .topNavbar {
    margin: 55px 0 0 0;
  }
  .topNavbarAppointmentsContainer {
    flex-direction: column;
  }

  .topNavbarAppointmentsForm {
    width: 56%;
  }

  .topNavbarAppointmentsRightCol {
    text-align: left;
  }
}

@media screen and (max-width: 350px) {
  .topNavbar {
    margin: 55px 0 0 0;
  }
  .topNavbarAppointmentsContainer {
    flex-direction: column;
  }

  .topNavbarAppointmentsForm {
    width: 58.5%;
  }

  .topNavbarBrand {
    margin-right: -10px;
  }

  .topNavbarAppointmentsRightCol {
    text-align: left;
  }
}




@media screen and (max-width: 700px) {
  .topNavbar.responsive {
    margin-top: 499px;
  }
}

@media screen and (max-width: 414px) {
  .topNavbar.responsive {
    margin-top: 445px;
  }
}

@media screen and (max-width: 375px) {
  .topNavbar.responsive {
    margin-top: 445px;
  }
}

@media screen and (max-width: 360px) {
  .topNavbarExpensesContainer {
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

.expensesBrand {
  font-size: 1rem;
}

}

@media screen and (max-width: 335px) {
  .topNavbarClientsContainer {
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {

  .topNavbar.responsive {
    margin-top: 445px;
  }

  .topNavbarBrand {
    font-size: 1rem;
  }

  .topNavbarSearch {
    width: 100%;
    margin-bottom: 10px;
  }

  .topNavbarClientsSearch, .topNavbarExpensesSearch {
    width: 90%;
  }

  .clientsForm, .expensesForm {
    width: 70%;
  }

  .topNavbarExpensesRightCol {
    margin-left: -10px;
  }

}

@media screen and (max-width: 280px) {
  .topNavbar.responsive {
    margin-top: 445px;
  }
}